# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/

# Trained models
models/model_epoch_*.pth

# Dataset
dataset/
predict_samples/

# Jupyter
.ipynb_checkpoints/
notebooks/temp.ipynb
tree

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Raw/generated signal data
data/